@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400,700');
/*@import url('https://fonts.googleapis.com/css?family=Martel:400,900');*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

* {
	padding: 0;
	margin: 0;
}
html {
	/*font-size: 12px;*/
}
body {
	/*font-family: 'Fira Sans', Helvetica, Arial, sans-serif;*/
	/*background-color: #E5E2D9;*/
	background-color: #0a0203;
	font-size: 14px;
}
body, 
text {
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
}
a,
a:link,
a:hover,
a:visited {
	color: #0a0203;
}
div.slide {
	min-height: 100vh;
	width: 100%;
	/*position: relative;*/
}
div.slide.intro {
	/*background-image: url('../imgs/dec_logo.svg');*/
	/*background-size: 33%;*/
	/*background-repeat: no-repeat;*/
	/*background-position: center;*/
}
.v-align {
	display: table;
}
.v-align .inner {
	display: table-cell;
	vertical-align: middle;
}
.center {
	text-align: center;
}
h1.main-title {
	color: #E5E2D9;
	font-size: 3rem;
	font-weight: 300;
	letter-spacing: .25rem;
}
.bg-gradient {
	background: linear-gradient(#fff 0%, #E5E2D9 50%);
}
.bg-uniform {
	background: linear-gradient(#fff 0%, #ebe9e9 50%);
	/*background-color: #ebe9e9;*/
}

div.slide.welcome {
	position: relative;
}
div.main-header {
	padding-top: 12.5vh;
}
div.montagnes-logo {
	width: 100%;
	/*position: relative;*/
}
div.sticky-content {
	background-color: #0a0203;
	margin-bottom: 5vh;
}
div.sticky-content.stick {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	margin-bottom: 0vh;
}
div.sticky-content.stuck {
	position: absolute;
	/*top: 0;*/
	bottom: 0;
	width: 100%;
	z-index: 100;
	margin-bottom: 0vh;
}
div.montagnes-logo.main {
	width: 70vh;
	height: 35vh;
	/*border-bottom: 1px solid #fff;*/
	padding: 2.5vh 5vh 15vh 5vh;
	margin: 0 auto 5vh auto;
	transition: width .5s, height .5s, padding .5s;
}
div.stick div.montagnes-logo.main,
div.stuck div.montagnes-logo.main {
	width: 20vh;
	height: 10vh;
	padding: 2.5vh 5vh 0vh 5vh;
}
/*div.stick ~ div.main-title {
	padding-top: 102px;
}*/

div.montagnes-logo div.logo-sommet-1 {
	width: 25%;
	height: 50%;
	/*margin-top: 50%;*/
	/*background-color: pink;*/
	background-image: url('../imgs/texture-v03-s.png');
	clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-moz-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-o-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-ms-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	display: inline-block;
	position: relative;
}
div.montagnes-logo div.logo-sommet-2 {
	width: 50%;
	height: 100%;
	/*margin-top: 50%;*/
	/*background-color: pink;*/
	background-image: url('../imgs/texture-v03-s.png');
	background-position: center top;
	clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-moz-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-o-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-ms-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	display: inline-block;
	margin-left: -12.5%;
	position: relative;
}
div.montagnes-logo div.logo-sommet-3 {
	width: 33%;
	height: 66%;
	/*margin-top: 50%;*/
	/*background-color: pink;*/
	background-image: url('../imgs/texture-v03-s.png');
	clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-moz-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-o-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-ms-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	display: inline-block;
	margin-left: -12.5%;
	position: relative;
}
div.montagnes-logo div.sommet--logo::after {
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(10,2,3,0) 0%, rgba(10,2,3,1) 100%);
	/*background: linear-gradient(rgba(10,2,3,1) 0%, rgba(136,129,127,.75) 50%, rgba(255,255,255,1) 100%);*/
	position: absolute;
	left: 0;
	top: 1px;
}
div.logo-separator {
	width: 60%;
	height: 1px;
	background-color: rgba(255,255,255,.5);
	/*margin: 0 auto 5vh auto;*/
	margin: auto;
	position: relative;
} 
div.node--logo {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: -10px;
	cursor: pointer;
	transition: background-color .25s;
	cursor: pointer !important;
}
div.stick div.node--logo:hover {
	background-color: #27999c;
}
div.stick div.node--logo::before {
	content: attr(data-content);
	font-size: 1rem;
	color: #fff;
	font-weight: 200;
	white-space: nowrap;
	position: absolute;
	bottom: calc(25px + .65rem);
	text-decoration: underline;
	/*left: -50%;*/
	/*width: 10%;*/
}
div.node--logo.about {
	left: 7%;
}
div.node--logo.indicators {
	right: 7%;
}
div.main-title {
	/*font-family: 'Work Sans', sans-serif;*/
	font-weight: 400;
	letter-spacing: .5rem;
	color: #fff;
	font-size: 1.5rem;
	line-height: 1.5em;
	text-transform: uppercase;
}
div.main-subtitle {
	/*font-family: 'Work Sans', sans-serif;*/
	font-weight: 200;
	letter-spacing: .05rem;
	color: #fff;
	font-size: 1.1rem;
	line-height: 2em;
	/*margin-bottom: 20vh;*/
	/*text-transform: uppercase;*/
}

div.flex--col {
	display: flex;
	align-content: space-around;
	flex-direction: column;
}
p.small {
	color: #fff;
	width: 40%;
	margin: auto;
	font-size: .75rem;
	line-height: 1.3em;
	font-weight: 200;
	text-align: left;
	margin-bottom: 2.6em;
}
p.lead {
	color: #fff;
	width: 40%;
	margin: auto;
	font-size: 1.25rem;
	line-height: 1.3em;
	font-weight: 200;
	text-align: left;
	margin-bottom: 2.6em;
	/*margin-bottom: 3rem;*/
}
p.intertitre {
	color: #27999c;
	margin-bottom: 1.3em;
	/*text-transform: uppercase;*/
}


div.legende {
	width: 100%;
	margin-top: 2.6rem;
	margin-bottom: 25vh;
	/*height: 75%;*/
}
div.ligne-1, 
div.ligne-2 {
	height: 7.5vh;
	width: 100%;
	/*clear: both;*/
	margin-bottom: 3.9rem;
}
div.legende--label {
	width: 100%;
	font-size: .75rem;
	color: #fff;
	float: left;
	font-weight: 200;
	text-align: center;
	margin-top: 1.3rem;
}
div.legende--flexbox {
	display: flex;
	width: 40%;
	height: 100%;
	margin: auto;
	justify-content: space-evenly;
	/*justify-content: space-around;*/
}
div.sommet--legende {
	/*width: calc(80% / 3);*/
	height: 100%;
	/*background-color: #ebe9e9;*/
	/*background-color: rgba(136,129,127,1);*/
	background: linear-gradient(rgba(235,233,233,1) 0%, rgba(136,129,127,0) 100%);
	/*background: linear-gradient(rgba(255,255,255,1) 0%, rgba(235,233,233,1) 100%);*/
	/*background-image: url('../imgs/texture-v02-s.png');*/
	position: relative;
	/*margin-right: 1rem;*/
}
/*div.sommet--legende::after {
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(10,2,3,0) 0%, rgba(10,2,3,1) 100%);
	position: absolute;
	left: 0;
	top: 1px;
}*/
.sommet--legende.discrete {
	width: 7.5vh;
	clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-moz-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-o-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-ms-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
.sommet--legende.discrete::before {
	content: '';
	width: 25%;
	height: 25%;
	position: absolute;
	left: 37.5%;
	top: 40%;
	z-index: 10;
	background: url('../imgs/node-discrete.svg') no-repeat center center;
	background-size: contain;
	transform: scale(0);
	animation: scale-in .5s .5s ease forwards;
}
.sommet--legende.series {
	width: calc(7.5vh * 2 * .75);
	clip-path: polygon(0% 100%, 25% 12.5%, 75% 0%, 100% 100%);
	-webkit-clip-path: polygon(0% 100%, 25% 12.5%, 75% 0%, 100% 100%);
	-moz-clip-path: polygon(0% 100%, 25% 12.5%, 75% 0%, 100% 100%);
	-o-clip-path: polygon(0% 100%, 25% 12.5%, 75% 0%, 100% 100%);
	-ms-clip-path: polygon(0% 100%, 25% 12.5%, 75% 0%, 100% 100%);
}
.sommet--legende.series::before {
	content: '';
	width: 25%;
	height: 25%;
	position: absolute;
	left: 37.5%;
	top: 40%;
	z-index: 10;
	background: url('../imgs/node-series.svg') no-repeat center center;
	background-size: contain;
	transform: scale(0);
	animation: scale-in .5s .5s ease forwards;
}
.sommet--legende.ordinal {
	width: calc(7.5vh * 2 * .75);
	clip-path: polygon(0% 100%, 39.7577% 0%, 69.2732% 74.2383%, 79.5155% 48.4766%, 100% 100%);
	-webkit-clip-path: polygon(0% 100%, 39.7577% 0%, 69.2732% 74.2383%, 79.5155% 48.4766%, 100% 100%);
	-moz-clip-path: polygon(0% 100%, 39.7577% 0%, 69.2732% 74.2383%, 79.5155% 48.4766%, 100% 100%);
	-o-clip-path: polygon(0% 100%, 39.7577% 0%, 69.2732% 74.2383%, 79.5155% 48.4766%, 100% 100%);
	-ms-clip-path: polygon(0% 100%, 39.7577% 0%, 69.2732% 74.2383%, 79.5155% 48.4766%, 100% 100%);
	/*clip-path: polygon(0% 100%, 25% 0%, 50% 75%, 75% 25%, 100% 100%);*/
	/*-webkit-clip-path: polygon(0% 100%, 25% 0%, 50% 75%, 75% 25%, 100% 100%);
	-moz-clip-path: polygon(0% 100%, 25% 0%, 50% 75%, 75% 25%, 100% 100%);
	-o-clip-path: polygon(0% 100%, 25% 0%, 50% 75%, 75% 25%, 100% 100%);
	-ms-clip-path: polygon(0% 100%, 25% 0%, 50% 75%, 75% 25%, 100% 100%);*/
}
.sommet--legende.ordinal::before {
	content: '';
	width: 25%;
	height: 25%;
	position: absolute;
	left: 37.5%;
	top: 40%;
	z-index: 10;
	background: url('../imgs/node-ordinal.svg') no-repeat center center;
	background-size: contain;
	transform: scale(0);
	animation: scale-in .5s .5s ease forwards;
}
.sommet--legende.addition {
	width: 7.5vh;
	clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-moz-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-o-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	-ms-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
.sommet--legende.addition::before {
	content: '';
	width: 25%;
	height: 25%;
	position: absolute;
	left: 37.5%;
	top: 40%;
	z-index: 10;
	background: url('../imgs/node-addition.svg') no-repeat center center;
	background-size: contain;
	transform: scale(0);
	animation: scale-in .5s .5s ease forwards;
}
.s-group {
	position: relative;
}
.s-group svg {
	width: 7.5vh;
	height: 7.5vh;
	position: absolute;
	left: 0;
	top: 0;
}
.s-group svg path {
	stroke: #27999c;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.sommet--legende.division {
	width: 7.5vh;
	clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
	-webkit-clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
	-moz-clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
	-o-clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
	-ms-clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
}
.sommet--legende.division::before {
	content: '';
	width: 25%;
	height: 25%;
	position: absolute;
	left: 37.5%;
	top: 40%;
	z-index: 10;
	background: url('../imgs/node-division.svg') no-repeat center center;
	background-size: contain;
	transform: scale(0);
	animation: scale-in .5s .5s ease forwards;
}
/*div.sommet--legende:last-child {
	margin-right: 0;
}*/

div.slide.vis {
	height: 100vh;
	overflow: hidden;
}

div.slide.vis div.header {
	padding: 0 .5rem;
	height: 3rem;
	text-align: center;
}
div.slide.vis div.header div.btn {
	line-height: 3rem;
	font-size: 1rem;
	display: inline-block;
	height: calc(3rem - 2px);
	min-width: 6rem;
	color: #0a0203;
	cursor: pointer;
	transition: background-color .1s;
	-webkit-transition: background-color .1s;
	-moz-transition: background-color .1s;
	-o-transition: background-color .1s;
	-ms-transition: background-color .1s;
	margin: 0;
}
div.slide.vis div.header div.btn.active {
	background-color: #0a0203;
	color: #fff;
}
h1 {
	font-weight: 900;
	/*font-style: italic;*/
	font-size: 10px;
	/*line-height: 1.75rem;*/
	/*font-family: 'Martel', serif;*/
	text-transform: uppercase;
	letter-spacing: .25em;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}

h3 {
	font-weight: 400;
	/*font-size: 1.25rem;*/
	/*font-family: 'Martel', serif;*/
	font-size: 11.75px;
	/*line-height: 1.75rem;*/
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}



div.slide.vis div.content {
	font-size: 0;
	height: calc(100% - 3rem);
	width: 100%;
}

/* THIS IS FOR THE MAIN INDICATOR MENU */
div.slide.vis div.content div.menu--vis {
	width: 20%;
	height: 100%;
	position: relative;
	font-size: 1rem;
	float: left;
	margin-top: -1rem;
}
div.slide.vis div.content div.menu--vis div.title {
	color: #0a0203;
	width: 100%;
	margin-bottom: 1.75rem;
}
div.slide.vis div.content div.menu--vis div.menu--indicators {
	position: relative;
	/*top: 7.25rem;*/
	/*left: 2rem;*/
	/*max-height: calc(100vh - 14.5rem - 5px);*/
	overflow: auto;
}
div.slide.vis div.content div.menu--vis div.menu--indicators a {
	font-size: .75rem;
	padding-left: 1rem;
}
div.slide.vis div.content div.menu--vis div.menu--indicators ul.menu-list {
	border-top: 5px solid #0a0203;
	overflow: auto;
	padding: 1rem 1rem;
	background-color: #fff;
	margin-bottom: 1rem;
}
li {
	list-style: none;
	line-height: 1.5rem;
}
li.list-item,
li.sub-item {
	cursor: pointer;
}
li.list-item {
	text-transform: uppercase;
	font-weight: 700;
}
li.list-item.node::before {
	content: '';
	width: 0;
	height: 0;
	border-top: .25rem solid transparent;
	border-left: .5rem solid #0a0203;
	border-bottom: .25rem solid transparent;
	margin-left: -1.5rem;
	margin-top: .5rem;
	position: absolute;
	right: 1rem;
	transform: rotate(90deg);
	transition: transform .2s ease;
}
li.list-item.node.expanded::before {
	transform: rotate(-90deg);
}
li.sub-item {
	font-weight: 200;
	max-height: 0;
	overflow: hidden;
	transition: max-height .75s ease;
	text-transform: none;
}
/*li.sub-item.expanded {
	transition: max-height .25s;
}*/
li.sub-item.node {
	padding-left: 1.5rem;
	font-style: italic;
}
li.sub-item.leaf,
li.sub-item.multi-leaf {
	font-style: normal;
	font-weight: 400;
}
span.leaf u {
	text-decoration: none;
}
span.leaf u:hover {
	text-decoration: underline;
}
.expanded > ul > li.sub-item.node::before {
	content: '';
	width: 0;
	height: 0;
	border-top: .25rem solid transparent;
	border-left: .5rem solid #0a0203;
	border-bottom: .25rem solid transparent;
	margin-left: -1.5rem;
	margin-top: .5rem;
	position: absolute;
	transform: rotate(0deg);
	transition: transform .2s ease;
}
.expanded > ul > li.sub-item.node.expanded::before {
	transform: rotate(90deg);
}

/* THIS IS FOR THE VIS */
div.slide.vis div.content div.paysage--vis {
	overflow: visible;
	width: 80%;
	height: 80%;
	float: left;
	cursor: all-scroll;
}
.dragging, .dragging .shape, .dragging .node {
	cursor: grabbing !important;
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: -o-grabbing !important;
	cursor: -ms-grabbing !important;
}

/* THIS IS FOR THE CORDEE */
div.slide.vis div.content div.cordee--vis {
	width: 80%;
	height: 20%;
	float: left;
	position: relative;
}
div.cordee--vis div.raisonnement {
	position: absolute;
	height: 50%;
	top: 25%;
	width: 75%;
	border-top: 1px solid rgba(10,2,3,.33);
}
div.raisonnement div.node {
	min-width: 10px;
	min-height: 10px;
	/*background-color: #0a0203;*/
	display: block;
	position: absolute;
	/*border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;*/
	transition: transform .25s ease;
	z-index: 100;
	cursor: ew-resize;
	overflow: visible;
}
div.raisonnement div.node div.circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	background-color: #0a0203;
	transition: transform .25s ease;
	position: absolute;
	z-index: 1000;
}
div.raisonnement div.node::after {
	content: attr(data--label);
	position: absolute;
	width: 80px;
	top: calc(100% + .25rem);
	/*background-color: #0a0203;*/
	/*color: #fff;*/
	background-color: #ebe9e9;
	border-bottom: 1px solid #0a0203;
	color: #0a0203;

	font-size: .75rem;
	padding: .25rem .5rem;
	/*padding: .25rem .5rem;*/
	/*text-align: center;*/
	cursor: pointer;
}
div.raisonnement div.node.discrete::before,
div.raisonnement div.node.dragging::before {
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	z-index: 10;
	background: url('../imgs/node-discrete.svg') no-repeat center center !important;
	background-size: contain;
	z-index: 1001;
}
div.raisonnement div.node.series::before {
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	z-index: 10;
	background: url('../imgs/node-series.svg') no-repeat center center;
	background-size: contain;
	z-index: 1001;
}
div.raisonnement div.node.ordinal::before {
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	z-index: 10;
	background: url('../imgs/node-ordinal.svg') no-repeat center center;
	background-size: contain;
	z-index: 1001;
}
div.raisonnement div.node.addition::before {
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	z-index: 10;
	background: url('../imgs/node-addition.svg') no-repeat center center;
	background-size: contain;
	z-index: 1001;
}
div.raisonnement div.node.division::before {
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	z-index: 10;
	background: url('../imgs/node-division.svg') no-repeat center center;
	background-size: contain;
	z-index: 1001;
}


div.operations {
	position: absolute;
	/*top: -5rem;*/
	border-left: 1px solid #0a0203;
	left: 50%;
	background-color: #ebe9e9;
	pointer-events: all;
	/*height: 5rem;*/
	padding-top: .25rem;
}
div.operation-option {
	/*font-size: 1rem;*/
	min-width: 6rem;
	/*line-height: 1.5rem;*/
	/*text-align: center;*/
	height: 1.25rem;
	font-size: .75rem;
	padding: .25rem .5rem .25rem 1.75rem;
	margin-left: -1.25rem;
	cursor: pointer !important;
}
div.operation-option:hover {
	text-decoration: underline;
}

/* THESE ARE GENERIC FUNCTIONS */
.hide {
	display: none;
}
.transition--none {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.animation--none {
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	animation: none !important;
}
.no-events {
	pointer-events: none;
}
.overflow--hidden {
	overflow: hidden;
	position: relative;
	top: -1px;
	/*width: 100%;*/
	/*height: 100%;*/
}
/* THIS IS FOR THE SVG MAP */
div.menu--vis div.carte {
	width: 100%;
	/*border-top: 5px solid #0a0203;*/
	margin-bottom: 1rem;
}
div.menu--vis div.carte svg {
	/*margin-top: 1rem;*/
}
path.commune.active {
	fill: #0a0203;
	stroke: #fff;
	cursor: pointer;
}
path.commune:hover {
	stroke: #27999c;
}
path.commune {
	fill: #ebe9e9;
	stroke: rgba(255,255,255,1);
	cursor: pointer;
	pointer-events: all;
}
path.toutes-communes {
	cursor: pointer;
	pointer-events: all;
	/*fill: #ebe9e9;*/
	fill: #0a0203;
}
path.total {
	fill: #0a0203;
	fill-opacity: 0;
	stroke: #27999c;

	/*#ffa355*/
	/*stroke-width: 3;*/
	cursor: pointer;
	pointer-events: all;
}
path.total:hover {
	/*fill: #27999c;*/
	/*stroke: #0a0203;*/
}











.menu {
	position: absolute;
	top: 0em;
	left: 3em;
	background-color: rgba(255, 255, 255, .9);
	max-height: 100vh;
	overflow: hidden;
}
.menu svg {
	margin: 1em 0;
}
.menu .inner {
	overflow: auto;
}
.menu .inner .indicateur:last-child {
	padding-bottom: 2em;
}
.menu .inner .indicateur.select {
	background-color: #444;
	color: #fff;
}

.white-stroke {
	stroke: #fff;
}
.label {
	fill: #000;
}
line.link {
	stroke: rgba(51,51,51,.33);
}
rect.label-box {
	fill: rgba(255,255,255,.75);
	stroke: rgba(51,51,51,.33);
}
line {
	stroke: rgba(51,51,51,.33);
}

.node circle {
	stroke: rgba(255,255,255,.25);
	cursor: pointer;	
}

.node.highlight-parent circle {
	stroke: firebrick;
	fill: transparent !important;
}
.node.highlight-fill circle {
	fill: indianred !important;
}

.tooltip {
	cursor: pointer;
}
.tooltip .bg {
	fill: #fff;
	stroke: none;
}

g.btn path.bg {
	pointer-events: all;
	cursor: pointer;
	fill: transparent;
}
g.btn path.bg.hover {
	stroke: #fff;
}
g.btn path.bg.active {
	fill: #fff;
}

text.btn--label {
	text-anchor: middle;
	fill: #0a0203;
	pointer-events: none;
}


line.rm-btn {
	pointer-events: none;
}
rect.bg--transparent {
	opacity: 0;
	cursor: pointer;
}

rect.ground {
	fill: #0a0203;
}