p.instruction {
	font-size: .75rem;
	/*text-align: center;*/
	/*max-width: 200px;*/
	margin: 0 0 0 1rem;
}
.montagnes {
	height: 100%;
	width: 100%;
	position: relative;
}
.commune {
	width: inherit;
	pointer-events: none;
	position: absolute;
	overflow: visible;
	/*transition: height .25s ease, margin-top .25s ease, transform .5s .75s ease;*/
	/*transition: opacity .1s ease, transform .5s .75s ease;*/
	/*transform: translateY(0);*/
	/*will-change: opacity, transform;*/
}
/*.commune.animate--top {
	transition: top .5s ease;
	transition-delay: .25s;
}*/
.commune .label--name {
	position: absolute;
	right: 0;
	/*top: 100%;*/
	/*width: 100%;*/
	background-color: #0a0203;
	color: #fff;
	font-size: .75rem;
	padding: .25rem .5rem;
	text-align: right;
	/*border-top: 1px solid rgba(10,2,3,.33);*/

	transition: transform .25s ease, opacity .25s ease;
	will-change: transform, opacity;

	pointer-events: all;
	cursor: pointer;
}

g.label--name {
	pointer-events: none;
}
g.label--name text {
	/*text-anchor: middle;*/
	fill: #fff;
}
g.label--name rect.bg {
	fill: #0a0203;
	/*stroke: #fff;*/
}


.chaine {
	min-width: 100vw;
	height: 100%;
	/*position: absolute;*/
	white-space: nowrap;
	font-size: 0;
	pointer-events: none;
	border-bottom: 1px solid rgba(10,2,3,.33);
	transition: transform .25s .5s ease;
	/*will-change: transform;*/
	/*overflow: hidden;*/
	/*border-bottom: 1px solid rgba(136,129,127,.75);*/
	/*border-bottom: 1px solid #0a0203;*/
}
.massif {
	height: 100%;
	display: inline-block;
	pointer-events: none;
	/*position: relative;*/
	/*animation: animate-sommet-in .5s;*/
	/*will-change: transform;*/
}
/*.massif ~ .massif {
	margin-left: 25px;
}*/

@keyframes animate-sommet-in {
	/*0% { 
		transform: translate(0, 100%) rotate(0deg); 
	}
	5% { 
		transform: translate(-10%, 95%) rotate(10deg);
	}
	10% { 
		transform: translate(10%, 90%) rotate(-7deg); 
	}
	15% { 
		transform: translateY(-5%, 85%) rotate(5deg); 
	}
	20% { 
		transform: translateY(5%, 80%) rotate(-1deg); 
	}
	50% { 
		transform: translateY(-5%, 75%) rotate(0deg); 
	}
	100% { 
		transform: translateY(0) rotate(0deg); 
	}*/
	/*0% { transform: translate(1px, 100%) rotate(0deg); }
	10% { transform: translate(-4px, 93%) rotate(-4deg); }
	20% { transform: translate(-12px, 90%) rotate(4deg); }
	30% { transform: translate(9px, 83%) rotate(0deg); }
	40% { transform: translate(6px, 70%) rotate(3deg); }
	50% { transform: translate(-2px, 50%) rotate(-2deg); }
	60% { transform: translate(-6px, 30%) rotate(0deg); }
	70% { transform: translate(3px, 17%) rotate(1deg); }
	80% { transform: translate(-1px, 10%) rotate(0deg); }
	90% { transform: translate(0px, 3%) rotate(0deg); }
	100% { transform: translate(0px, 0%) rotate(0deg); }*/
/*	0% { transform: translate(24px, 100%); } 
	5% { transform: translate(-36px, 99.5%); }
	10% { transform: translate(12px, 99%); } 
	25% { transform: translate(-24px, 98.5%); }
	20% { transform: translate(12px, 98%); }
	30% { transform: translate(-9px, 97%); }
	40% { transform: translate(18px, 95%); }
	50% { transform: translate(-4px, 87%); }
	60% { transform: translate(-12px, 75%); } 
	70% { transform: translate(6px, 60%); } 
	80% { transform: translate(-2px, 37%); }
	90% { transform: translate(0px, 13%); } 
	100% { transform: translate(0px, 0%); } */


	0% { transform: translate(0, 100%); } /* rotate(0deg); }*/
	/*5% { transform: translate(0, 99.5%); }*/
	10% { transform: translate(0, 99%); } /* rotate(-4deg); }*/
	/*25% { transform: translate(0, 98.5%); }*/
	20% { transform: translate(0, 98%); } /* rotate(4deg); }*/
	30% { transform: translate(0, 97%); } /* rotate(0deg); }*/
	40% { transform: translate(0, 95%); } /* rotate(3deg); }*/
	50% { transform: translate(0, 87%); } /* rotate(-2deg); }*/
	60% { transform: translate(0, 75%); } /* rotate(0deg); }*/
	70% { transform: translate(0, 60%); } /* rotate(1deg); }*/
	80% { transform: translate(0, 37%); } /* rotate(0deg); }*/
	90% { transform: translate(0, 13%); } /* rotate(0deg); }*/
	100% { transform: translate(0, 0%); } /* rotate(0deg); }*/
}
.massif .tooltip {
	position: absolute;
	/*top: 0;*/
	background-color: #0a0203;
	color: #fff;
	font-size: .75rem;
	padding: .25rem .5rem;
	text-align: center;
	margin-bottom: 1em;
}
/*.massif .tooltip:nth-child(even) {
	margin-bottom: 1em;
}
.massif .tooltip:nth-child(odd) {
	margin-bottom: 5em;
}*/
.massif .tooltip::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% + 1em + 1px);
	width: 1px;
	display: block;
	background-color: #0a0203;
}
.sommet-contour {
	height: 100%;
	background-color: rgba(255,255,255,0);
	/*background: linear-gradient(rgba(235,233,233,1) 0%, rgba(10,2,3,1) 100%);*/
	box-sizing: border-box;
	transition: all .25s ease;
	pointer-events: all;
	display: inline-block;
	position: relative;
	width: 100%;
}
/*.sommet {
	height: 100%;
	background-color: #0a0203;
	transition: clip-path .25s ease;
	pointer-events: all;
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 1px;
	width: 100%;
}*/
.sommet {
	/*height: 100%;*/
	
	/*display: inline-block;*/
	position: absolute;
	/*width: 100%;*/

	/*padding: 0 25px;*/
	/*border-bottom: 1px solid rgba(10,2,3,.33);*/

	transform-origin: top left;
	transition: transform .25s ease, opacity .25s ease;

	will-change: transform, opacity;
	/*overflow: hidden;*/
	/*padding: 0 75px;*/
	pointer-events: none;
	/*padding-top: 1.25rem;*/
	cursor: ew-resize;
}
.sommet::after {
	/*content: '';
	width: 100%;
	height: 1px;
	background-color: rgba(255,255,255,1);*/
	/*background-color: rgba(10,2,3,.33);*/
	/*position: absolute;
	top: calc(100% - 1px);
	left: 0px;*/
}
@keyframes scale-in {
	from { transform: scale(0); }
	to { transform: scale(1); }
}
.sommet.discrete::before {
	content: '';
	width: 10%;
	height: 15%;
	position: absolute;
	left: 45%;
	top: 50%;
	z-index: 10;
	background: url('../imgs/node-discrete.svg') no-repeat center center;
	background-size: contain;
	transform: scale(0);
	animation: scale-in .5s .5s ease forwards;
}
.sommet.series::before {
	content: '';
	width: 10%;
	height: 15%;
	position: absolute;
	left: 45%;
	top: 50%;
	z-index: 10;
	background: url('../imgs/node-series.svg') no-repeat center center;
	background-size: contain;
	transform: scale(0);
	animation: scale-in .5s .5s ease forwards;
}
.sommet.ordinal::before {
	content: '';
	width: 10%;
	height: 15%;
	position: absolute;
	left: 45%;
	top: 50%;
	z-index: 10;
	background: url('../imgs/node-ordinal.svg') no-repeat center center;
	background-size: contain;
	transform: scale(0);
	animation: scale-in .5s .5s ease forwards;
}
.sommet.addition::before {
	content: '';
	width: 10%;
	height: 15%;
	position: absolute;
	left: 45%;
	top: 50%;
	z-index: 10;
	background: url('../imgs/node-addition.svg') no-repeat center center;
	background-size: contain;
	transform: scale(0);
	animation: scale-in .5s .5s ease forwards;
}
.sommet.division::before {
	content: '';
	width: 10%;
	height: 15%;
	position: absolute;
	left: 45%;
	top: 50%;
	z-index: 10;
	background: url('../imgs/node-division.svg') no-repeat center center;
	background-size: contain;
	transform: scale(0);
	animation: scale-in .5s .5s ease forwards;
}

.sommet .shape {
	width: 100%;
	height: 100%;
	/*background-color: #0a0203;*/
	animation: animate-sommet-in .5s;
	pointer-events: all;
	position: absolute;
	top: 1px;
}
.sommet .shape::after {
	/*content: '';
	position: absolute;
	width: calc(100% + 50px);
	height: 20px;
	background-color: blue;
	display: block;
	top: 50%;
	left: -25px;*/
	content: '';
	width: 100%;
	height: 100%;
	/*height: 100%;*/
	display: block;
	position: absolute;
	bottom: 0;
	
	/*background: linear-gradient(rgba(235,233,233,0) 0%, rgba(235,233,233,1) 100%);*/
	/*background: linear-gradient(rgba(10,2,3,1) 0%, rgba(136,129,127,.75) 50%, rgba(255,255,255,1) 100%);*/
	background: linear-gradient(rgba(10,2,3,1) 0%, rgba(136,129,127,.75) 50%, rgba(235,233,233,1) 100%);
	
	/*background: linear-gradient(rgba(255,255,255,1) 0%, rgba(136,129,127,.75) 50%, rgba(10,2,3,1) 100%);*/
	
	/*mix-blend-mode: screen;*/
	mix-blend-mode: difference;
}


.sommet svg.shape polygon {
	/*fill: url('data:image/svg+xml:utf8,<svg xmlns="http://www.w3.org/2000/svg"><image xlink:href="../imgs/texture-v04-s.png" x="0" y="0" width="453" height="247"></image></svg>');*/
	fill: url('#bg-img');
}

.texture-gradient {
	mix-blend-mode: difference;
}


.massif .sommet .shape:nth-child(even) {
	background-position: 25% 25%;
	/*box-shadow: inner 0 0 200px 200px #fff;*/
	/*background: linear-gradient(rgba(255,255,255,1) 0%, rgba(136,129,127,.75) 50%, rgba(10,2,3,1) 100%);*/
}
.massif .sommet .shape:nth-child(even)::after {
	background: linear-gradient(rgba(255,255,255,1) 0%, rgba(136,129,127,.75) 50%, rgba(10,2,3,1) 100%);
}


.sommet svg {
	position: absolute;
	display: block;
	pointer-events: none;
}

svg.operation-ref path.line,
svg.trend-ref path.trend,
#arrowhead path {
	fill: none;
	stroke: #27999c;
	stroke-linecap: round;
	stroke-linejoin: round;
	/*stroke-width: .5;*/
}


/*.sommet ~ .sommet {
	margin-left: 25px;
}*/


.sommet span {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	bottom: 0;

	/*background: radial-gradient(circle farthest-side at top, rgba(235,233,233,.5), rgba(235,233,233,0));*/
	/*background: linear-gradient(rgba(10,2,3,1) 0%, rgba(235,233,233,.5) 100%);*/
	/*background: linear-gradient(rgba(10,2,3,1) 0%, rgba(136,129,127,1) 25%, rgba(136,129,127,.75) 50%, rgba(235,233,233,.5) 100%);*/
	
	/*background: radial-gradient(circle farthest-side at top, rgba(10,2,3,1) 0%, rgba(235,233,233,1) 100%);*/
	/*background: linear-gradient(rgba(10,2,3,1) 0%, rgba(136,129,127,.75) 50%, rgba(235,233,233,.75) 100%);*/
	
	background: linear-gradient(rgba(255,255,255,1) 0%, rgba(136,129,127,.75) 50%, rgba(10,2,3,1) 100%);
	
	mix-blend-mode: difference;
	/*transition: height .25s ease;*/
}

.commune:nth-child(odd) .sommet:not(.transparent) .shape {
	background-image: url('../imgs/texture-v04-s.png');
}
.commune:nth-child(even) .sommet:not(.transparent) .shape {
	background-image: url('../imgs/texture-v04-s.png');
	background-position: left center;
}
.massif:nth-child(odd) .sommet:not(.transparent) .shape {
	background-position: right center;
	background-size: cover;
}
.massif:nth-child(even) .sommet:not(.transparent) .shape {
	background-position: center center;
	background-size: cover;
}




/*.massif::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at bottom, rgba(255,255,255,1), orange); 
}*/
/*.sommet::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: blue;
}*/

.axis {
	border-left: 1px solid #0a0203;
	min-width: 25px;
	position: absolute;

	transition: transform .25s ease;
	will-change: transform;
}
.axis .tick {
	/*width: 5px;*/
	height: 1rem;
	/*border-bottom: 1px solid #0a0203;*/
	position: absolute;
	transform-origin: bottom;
	font-size: .75rem;
	line-height: 2rem;
	/*padding: 0 .5rem;*/
	white-space: nowrap;
	/*left: -200%;*/
	text-align: right;
	right: calc(100% + .5rem);
}
.axis .tick::after {
	content: '';
	width: .25rem;
	height: 1px;
	background-color: #0a0203;
	position: absolute;
	top: 1rem;
	right: -.5rem;
}
.axis .axis--label {
	/*background-color: #0a0203;*/
	/*background-color: #ebe9e9;*/
	color: #0a0203;
	border-bottom: 1px solid #0a0203;
	/*color: #fff;*/
	font-size: .75rem;
	padding: .25rem 0;
	/*padding: .25rem .5rem;*/
	bottom: calc(100% + 1rem);
	/*left: -1px;*/
	right: 100%;
	text-transform: capitalize;
	position: absolute;
	text-align: right;
	white-space: nowrap;
}

.label--value {
	position: absolute;
	background-color: #0a0203;
	color: #fff;
	font-size: .75rem;
	/*padding: .25rem 0;*/
	padding: .25rem .5rem;

	/*color: #0a0203;
	border-bottom: 1px solid #0a0203;

	/*background-color: #ebe9e9;*/
	white-space: nowrap;
}
.label--connector {
	content: '';
	/*max-height: calc(1.25rem * 2);*/
	width: 100%;
	border-left: 1px solid #0a0203;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.trend--value {
	position: absolute;
	color: #27999c;
	font-size: 1rem;
	/*padding: .25rem 0;*/
	/*padding: .25rem .5rem;*/
	top: 1rem;
	left: -.25rem;
	white-space: nowrap;
	width: 100%;
	text-align: center;
	font-weight: 700;
}


.semi-transparent {
	opacity: .15;
}

/*.montagnes.table {
	display: table;
	position: relative;
}*/
.montagnes.table .commune {
	/*display: table-row;*/
	/*position: relative;*/
	/*left: 0 !important;*/
}
.montagnes.table .commune .chaine {
	transform: translateX(0) !important;
	/*position: relative;*/
}

.montagnes.table .chaine .sommet {
	/*display: table-cell;*/
	/*max-width: 100px;*/
}


svg.img-pattern {
	position: absolute;
	top: -100px;
}